<!-- Criação do Footer da página -->
<div class="footer-content">
  <div class="footer-content-top">
    <div class="footer-logo">
      <!-- Adicionando a logo no footer -->
      <img src="assets/images/Logo da Home.png" alt="Logo do Site">
    </div>
    <div class="footer-links">
      <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#sobre-home">Sobre Nós</a></li>
        <li><a href="#">Metodologia</a></li>
      </ul>
    </div>
    <div class="contact-info">
      <ul>
        <li>
          <img class="image-tel" src="assets/images/icon_telefone_removed.png" alt="Ícone Endereço">
          <a href="#">Av. Luis Viana 6775 (Paralela), Salvador, BA</a>
        </li>
        <li>
          <img class="image-loc" src="assets/images/icon_location_removed.png" alt="Ícone E-mail">
          <a href="#">ABCTest&#64;gmail.com</a>
        </li>
        <li>
          <img class="image-email" src="assets/images/icon_email_removed.png" alt="Ícone Telefone">
          <a href="#">+7195384-9432</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2023 ABCTest. Todos os direitos reservados.</p>
    <p>Development by Raíssa Peneluc</p>
  </div>
</div>
