.quiz{
  width: 100%;
  height: 100%;

  background-color: #f6d9ae9a;
}

.menu-quiz{
  width: 100%;
  height: 80px;
  display: flex;

  background-color: #F6D9AE;
  border: 1px solid #7c461c;
}

.logo-menu-quiz{
  width: 71px;
  height: 60px;
  flex-shrink: 0;
  margin-top: 8px;
  margin-right: 5px;
  margin-bottom: 8px;
  margin-left: 5px;
  cursor: pointer;
}

.name-menu-quiz{
  width: 322px;
  height: 45px;
  flex-shrink: 0;
  margin-top: 21px;
  margin-right: 100px;
  margin-bottom: 10px;
  margin-left: 0px;
  cursor: pointer;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 26.59px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.title-menu-quiz{
  margin-top: 20px;
  justify-content: center;

  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.portuguese-quiz{
  width: 100%;
  display: grid;
  justify-content: center;

}

.content-portuguese-quiz{
  width: 100%;
  margin-top: 50px;
  border-radius: 80px;
  background-color: #F6D9AE;
  box-shadow: 0px 4px 17px 5px rgba(142,39,0,0.56);
  -webkit-box-shadow: 0px 4px 17px 5px rgba(142,39,0,0.56);
  -moz-box-shadow: 0px 4px 17px 5px rgba(142,39,0,0.56);
}

.title-portuguese-quiz{
  width: 380px;
  margin-top: 60px;
  margin-left: 250px;
  padding-left: 30px;
  display: flex;
  border-radius: 10px;

  background: linear-gradient(95deg, #F4BC0A 0%, #CD7F0A 100%);
  font-family: Roboto Serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 450;
  line-height: normal;
}

.content-portuguese-quiz:empty,
.content-math-quiz:empty {
  display: none;
}

.math-quiz{
  width: 100%;
  display: grid;
  justify-content: center;
}

.content-math-quiz{
  width: 100%;
  margin-top: 50px;
  border-radius: 80px;
  background-color: #F6D9AE;
  box-shadow: 0px 4px 17px 5px rgba(142,39,0,0.56);
  -webkit-box-shadow: 0px 4px 17px 5px rgba(142,39,0,0.56);
  -moz-box-shadow: 0px 4px 17px 5px rgba(142,39,0,0.56);
}

.title-math-quiz{
  width: 300px;
  margin-top: 50px;
  margin-left: 300px;
  padding-left: 30px;
  display: flex;
  border-radius: 10px;

  background: linear-gradient(95deg, #F4BC0A 0%, #CD7F0A 100%);
  font-family: Roboto Serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 450;
  line-height: normal;
}

.button-quiz{
  width: 150px;
  height: 50px;
  flex-shrink: 0;
  margin-top: 50px;
  margin-right: 5px;
  margin-bottom: 8px;
  margin-left: 700px;
  border-radius: 50px;
  cursor: pointer;

  color: black;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: 0.5px solid rgba(0, 0, 0, 0.35);
  background: linear-gradient(95deg, #F4BC0A 0%, #CD7F0A 100%);
  box-shadow: 0px 4px 48px 5px rgba(142,39,0,0.56);
  -webkit-box-shadow: 0px 4px 48px 5px rgba(142,39,0,0.56);
  -moz-box-shadow: 0px 4px 48px 5px rgba(142,39,0,0.56);
}

.result-quiz{
  display: flex;
}

.content-result-quiz{
  width: 800px;
  height: 100px;
  margin-top: 60px;
  margin-left: 380px;
  margin-bottom: 80px;
  border-radius: 25px;
  position: relative;

  background-color: #F6D9AE;
  box-shadow: 0px 4px 17px 5px rgba(142,39,0,0.56);
  -webkit-box-shadow: 0px 4px 17px 5px rgba(142,39,0,0.56);
  -moz-box-shadow: 0px 4px 17px 5px rgba(142,39,0,0.56);
}

.title-result-quiz{
  margin-top: 20px;
  margin-left: 40px;

  font-family: Roboto Serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 450;
  line-height: normal;
}

.description-result-quiz{
  margin-top: 15px;
  margin-left: 50px;
  margin-right: 10px;

  color: #7c461c;
  font-family: Roboto Serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 450;
  line-height: normal;
}

.check-result-quiz, .fail-result-quiz {
  position: absolute;
  bottom: 10px;
  right: 20px;

  color: rgb(60, 53, 53);
  font-family: Roboto Serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 450;
  line-height: normal;
}

.iframe-container{
  display: flex;
  justify-content: center;

  background: linear-gradient(95deg, #F4BC0A 0%, #CD7F0A 100%);
}

.spotify{
  margin-top: 10px;
}
