<div class="quiz">
  <div class="menu-quiz">
    <a href="#">
      <img class="logo-menu-quiz" src="/assets/images/Logo da Home.png">
    </a>

    <h3 class="name-menu-quiz"> <a href="#" > ABCTest </a> </h3>
    <h1 class="title-menu-quiz"> Simulados do ANA para Teste de Analfabetismo </h1>
  </div>

 <!-- Elemento <iframe> com fundo linear e centralizado -->
  <div class="iframe-container">
    <iframe class="spotify"
      style="border-radius: 12px"
      src="https://open.spotify.com/embed/playlist/2ui7nVDDOnKHNunolJaIx8?utm_source=generator&theme=0"
      width="20%"
      height="100"
      frameborder="0"
      allowfullscreen=""
      allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
      loading="lazy"
    ></iframe>
  </div>

  <img class="background-quiz" src="/assets/images/Background do Quiz.jpg">
  <div class="sobreposicao"></div>

  <div class="portuguese-quiz">
    <!-- Simulado de Língua Portuguesa -->
    <h2 class="title-portuguese-quiz"> Caderno de Língua Portuguesa </h2>

    <!-- Essa diretiva é usada para iterar sobre as perguntas e opções -->
    <div class="content-portuguese-quiz" *ngFor="let question of questions; let i = index">
      <div *ngIf="question.index <= 17">

        <!-- Renderiza o componente 'QuestionComponent' para exibir a pergunta -->
        <app-question
        [question]="question.question"
        [questionIndex]="question.index"
        [imagePath]="question.imagePath"
        ></app-question>

        <!-- Renderiza o componente 'AlternativesComponent' para exibir as alternativas de resposta e manipular eventos de seleção -->
        <app-alternatives
          [options]="question.options"
          [alternativeIndex]="i"
          [quizSubmitted]="quizSubmitted"
          (selectOption)="handleOptionSelected($event)"
        ></app-alternatives>
      </div>
    </div>
  </div>

  <div class="math-quiz">
    <!-- Simulado de Matemática -->
    <h2 class="title-math-quiz"> Caderno de Matemática </h2>

    <div class="content-math-quiz" *ngFor="let question of questions; let i = index">
      <div *ngIf="question.index > 17">

        <!-- Renderiza o componente 'QuestionComponent' para exibir a pergunta e o índice -->
        <app-question
        [question]="question.question"
        [questionIndex]="question.index"
        [imagePath]="question.imagePath"
        ></app-question>

        <!-- Renderiza o componente 'OptionsComponent' para exibir as opções -->
        <app-alternatives
        [options]="question.options"
        [alternativeIndex]="i"
        [quizSubmitted]="quizSubmitted"
        (selectOption)="handleOptionSelected($event)"
        ></app-alternatives>
      </div>
    </div>
  </div>

  <!-- Botão para enviar o quiz para calcular os resultados -->
  <button class="button-quiz" (click)="submitQuiz()" [disabled]="quizSubmitted"> Enviar Quiz </button>

  <!-- Mostra os resultados apenas se o quiz foi enviado -->
  <div class="result-quiz" *ngIf="quizSubmitted && userAnswers.length > 0">
    <div class="content-result-quiz">
      <h3 class="title-result-quiz"> Resultados: </h3>
      <p class="description-result-quiz"> Você acertou {{ correctAnswersCount }} de {{ questions.length }} questões! </p>

      <!-- Adiciona condição para exibir mensagem específica -->
      <ng-container *ngIf="correctAnswersCount >= 17">
        <!-- Se acertou 17 ou mais questões -->
        <p class="check-result-quiz">Parabéns! Você é um alfabeto funcional!</p>
      </ng-container>

      <ng-container *ngIf="correctAnswersCount < 17">
        <!-- Se acertou menos de 17 questões -->
        <p class="fail-result-quiz">Você não atingiu a pontuação para ser considerado um alfabeto funcional <br>
          Continue estudando e tentando, que você consegue! :)</p>
      </ng-container>
    </div>
  </div>
</div>
