<div>

  <div>
    <!-- Simulado de Língua Portuguesa -->
    <h2>Simulado de Língua Portuguesa</h2>

    <!-- Essa diretiva é usada para iterar sobre as perguntas e opções -->
    <div *ngFor="let question of questions; let i = index">
      <div *ngIf="question.index <= 3">

        <!-- Renderiza o componente 'QuestionComponent' para exibir a pergunta -->
        <app-question [question]="question.question" [questionIndex]="question.index"></app-question>

        <!-- Renderiza o componente 'AlternativesComponent' para exibir as alternativas de resposta e manipular eventos de seleção -->
        <app-alternatives
          [options]="question.options"
          [alternativeIndex]="i"
          [quizSubmitted]="quizSubmitted"
          (selectOption)="handleOptionSelected($event)"
        ></app-alternatives>
      </div>
    </div>
  </div>

  <div>
    <!-- Simulado de Matemática -->
    <h2>Simulado de Matemática</h2>
    <div *ngFor="let question of questions; let i = index">
      <div *ngIf="question.index > 3">
      <!-- Renderiza o componente 'QuestionComponent' para exibir a pergunta e o índice -->
      <app-question [question]="question.question" [questionIndex]="question.index"></app-question>
      <!-- Renderiza o componente 'OptionsComponent' para exibir as opções -->
      <app-alternatives
        [options]="question.options"
        [alternativeIndex]="i"
        [quizSubmitted]="quizSubmitted"
        (selectOption)="handleOptionSelected($event)"
      ></app-alternatives>
      </div>
    </div>
  </div>

  <!-- Botão para enviar o quiz para calcular os resultados -->
  <button (click)="submitQuiz()" [disabled]="quizSubmitted">Submit Quiz</button>

  <!-- Mostra os resultados apenas se o quiz foi enviado -->
  <div *ngIf="quizSubmitted && userAnswers.length > 0">
    <h3>Resultados:</h3>
    <p>Questões corretas: {{ correctAnswersCount }} / {{ questions.length }}</p>
    <ul>
      <li *ngFor="let question of questions; let i = index">
        Questão {{ question.index }} - Resposta correta: {{ question.correctAnswer }} |
        Sua resposta: {{ userAnswers[i] }}
      </li>
    </ul>
  </div>

  <p>quiz works!</p>
</div>


