<app-menu-bar></app-menu-bar>

<div>
  <!-- Criação do Compontente do Background e Conteúdo do Sobre da Home -->
  <div id="sobre-home" class="sobre-home">
    <img src="assets/images/Background do Sobre-Home.jpg" alt="Background Do Sobre-Home" class="background-sobre-home">
    <div class="sobreposicao"></div>
    <div class="sobre-card-home">
      <h1 class="sobre-title-home"> Sobre Nós </h1>
      <p class="sobre-description-home"> Bem-vindo ao nosso Quiz de Avaliação de Alfabetização! Este desafiante questionário foi cuidadosamente
        elaborado para avaliar e medir o seu nível de alfabetização. Explore uma série de perguntas diversificadas e estimulantes projetadas para
        testar não apenas o seu conhecimento básico de leitura e escrita, mas também a sua compreensão mais profunda do alfabetismo. Ao participar
        deste quiz, você terá a oportunidade de aprimorar suas habilidades linguísticas enquanto recebe uma análise abrangente do seu nível de
        alfabetização.
        <br>
        <br>
        Prepare-se para uma jornada educacional e divirta-se enquanto desvenda os desafios propostos para aprimorar o seu domínio
        da linguagem escrita!</p>
    </div>
  </div>
</div>
