.sobre-home {
  position: relative;
  height: 720px;

  background-color: #F6D9AE;
}

.background-sobre-home,.sobre-card-home,.sobre-title-home,.sobre-description-home {
  position: absolute;
  top: 0;
  left: 0;
}

.sobreposicao {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 720px;
  overflow: hidden;

  background: linear-gradient(rgba(246, 217, 174, 0.7), rgba(246, 217, 174, 0.7));

}

.background-sobre-home {
  width: 100%;
  height: 720px;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
  margin-top: 0px;
}

.sobre-card-home {
  width: 750px;
  height: 500px;
  flex-shrink: 0;
  border-radius: 20px;
  margin-top: 100px;
  margin-left: 50px;
  margin-bottom: 100px;

  background-color: #F6D9AE;
  box-shadow: 5px 6px 53px -6px rgba(124,70,28,0.65);
  -webkit-box-shadow: 5px 6px 53px -6px rgba(124,70,28,0.65);
  -moz-box-shadow: 5px 6px 53px -6px rgba(124,70,28,0.65);
}

.sobre-title-home,.sobre-description-home {
  width: 700px;
  flex-shrink: 0;
  padding-top: 40px;
  padding-left: 30px;
}

.sobre-title-home {
  height: auto;
  margin-top: 10px;
  margin-right: 300px;
  margin-bottom: 0px;
  margin-left: 0px;

  color: #333;
  font-family: Roboto Serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 550;
  line-height: normal;
}

.sobre-description-home {
  height: auto;
  margin-top: 80px;
  margin-right: 100px;
  margin-bottom: 0px;
  margin-left: 0px;

  color: #7c461c;
  text-align: justify;
  font-family: Roboto serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
