<div>
  <app-menu-bar></app-menu-bar>

  <!-- Criação do Compontente do Background e Conteúdo do Sobre da Home -->
  <div id="sobre-home" class="sobre-home">
    <img src="assets/images/Background do Sobre-Home.jpg" alt="Background Do Sobre-Home" class="background-sobre-home">
    <div class="sobreposicao"></div>
    <div class="sobre-card-home">
      <h1 class="sobre-title-home"> Sobre Nós </h1>
      <p class="sobre-description-home"> Explore o Quiz de Avaliação de Alfabetização, elaborado para medir seu nível de leitura
        e escrita. Desenvolvido por Raíssa Peneluc como parte de um projeto acadêmico inspirado no Simulado ANA (Avaliação Nacional
        de Alfabetização), esta iniciativa reflete o compromisso com as metas globais estabelecidas pela ONU, em particular no
        Objetivo 4 - Educação de Qualidade. Participe para aprimorar suas habilidades linguísticas e receber uma análise abrangente.
        Divirta-se enquanto enfrenta desafios para melhorar seu domínio da linguagem escrita!
        <br>
        <br>
        Além disso, o quiz conta com uma playlist especialmente selecionada para proporcionar uma atmosfera tranquila durante a
        realização do teste.</p>
    </div>
  </div>

  <app-footer></app-footer>
</div>
