<div>
  <!-- Criação da Menu Bar -->
  <div class="menu-bar">
    <img (click)="clickNaLogo()" src="assets/images/Logo de IA com fundo transparente.png" alt="Botão Logo" class="logo-button-menu">
    <h3 (click)="clickNoNome()" class="nome-menu"> ABCTest </h3>
    <p (click)="clickNaHome()"class ="home-menu"> Home </p>
    <p (click)="clickNoSobre()"class ="sobre-menu"> Sobre </p>
    <p (click)="clickNaMetodologia()"class ="metodologia-menu"> Metodologia </p>
    <p (click)="clickNoContato()"class ="contato-menu"> Contato </p>
    <button (click)="clickNoStart()" class="button-start"> Começe Agora </button>
  </div>

</div>
