<div>
  <!-- Criação da Menu Bar -->
  <div class="menu-bar">
    <a href="#">
      <img src="assets/images/Logo de IA com fundo transparente.png" alt="Botão Logo" class="logo-button-menu">
    </a>
    <h3 class="nome-menu"> <a href="#home">ABCTest</a></h3>
    <p class ="home-menu"><a href="#home">Home</a></p>
    <p class ="sobre-menu"> <a [routerLink]="['/sobre']" fragment="sobre-home">Sobre</a></p>
    <p class ="metodologia-menu"> <a href="#">Metodologia </a></p>
    <button routerLink="/quiz" class="button-start"> Começe Agora </button>

  </div>

</div>

<router-outlet></router-outlet>
