.menu-bar{
  background-color: #F6D9AE;
  display: flex;
  flex-direction: row;

  border: 1px solid #7c461c;
}

.logo-button-menu{
  width: 71px;
  height: 60px;
  flex-shrink: 0;
  margin-top: 8px;
  margin-right: 5px;
  margin-bottom: 8px;
  margin-left: 5px;
}

.nome-menu{
  width: 322px;
  height: 45px;
  flex-shrink: 0;
  margin-top: 21px;
  margin-right: 170px;
  margin-bottom: 10px;
  margin-left: 0px;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 26.59px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.home-menu{
  margin-top: 35px;
  margin-right: 70px;
  margin-bottom: 27px;
  margin-left: 0px;
  cursor: pointer;

  color: #000;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.metodologia-menu{
  margin-top: 35px;
  margin-right: 70px;
  margin-bottom: 27px;
  margin-left: 0px;
  cursor: pointer;

  color: #000;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.sobre-menu{
  width: 51px;
  height: 23px;
  flex-shrink: 0;
  margin-top: 35px;
  margin-right: 450px;
  margin-bottom: 27px;
  margin-left: 0px;
  cursor: pointer;

  color: #000;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}


.button-start{
  width: 125px;
  height: 45px;
  flex-shrink: 0;
  margin-top: 20px;
  margin-right: 5px;
  margin-bottom: 8px;
  margin-left: 5px;
  border-radius: 50px;
  cursor: pointer;

  color: #333;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: 0.5px solid rgba(0, 0, 0, 0.35);
  background: linear-gradient(95deg, #F4BC0A 0%, #CD7F0A 100%);
  box-shadow: 0px 10.45024px 23.22276px -6.96683px #FBE18F;
}

