.image-question{
  width: 450px;
  height: 300px;
  display: block;
  margin: 0 auto;
  margin-bottom: 40px;

  box-shadow: 0px 4px 48px 5px rgba(142,39,0,0.56);
  -webkit-box-shadow: 0px 4px 48px 5px rgba(142,39,0,0.56);
  -moz-box-shadow: 0px 4px 48px 5px rgba(142,39,0,0.56);
}

.title-question{
  width: 900px;
  margin: 20px auto;
  margin-top: 60px;
  text-align: center;
  color: #7c461c;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: 'Roboto Serif', serif;
  margin-bottom: 40px;
}


