<div>

  <!-- Criação do Componente do Background da Principal parte do Home -->
  <div id="home" class="home">

    <img src="assets/images/Background da Home 2.png" alt="Background da Home" class="background-home">
    <div class="sobreposicao"></div>
    <img src="assets/images/Logo da Home.png" alt="Logo da Home" class="logo-home">
    <h2 class="title-home"> Análise de Proficiência Linguística:
      <br> Avaliação do Nível de Alfabetismo </h2>

    <p class="description-home"> Explore nosso Quiz de Alfabetização! Teste suas habilidades com perguntas desafiadoras enquanto
      desfruta de uma playlist especialmente selecionada para acalmar. Obtenha uma análise instantânea do seu nível de alfabetização,
       aprimorando suas habilidades linguísticas de forma interativa. Aprenda enquanto se diverte!</p>

    <button routerLink="/quiz" class="button-start"> Começe Agora </button>

  </div>
</div>

<router-outlet></router-outlet>
