<div>
  <app-menu-bar></app-menu-bar>

  <div id="metodologia-home" class="metodologia-home">
    <img class="background-metodologia-home" src="/assets/images/Background da Metodologia.jpg">
    <div class="sobreposicao"></div>
    <div class="metodologia-card-home1">
      <h1 class="metodologia-title-home1"> Simulado ANA </h1>
      <p class="metodologia-description-home1"> Bem-vindo ao nosso Quiz de Avaliação de Alfabetização, inspirado no Simulado ANA!
        Este questionário desafiante foi cuidadosamente elaborado para medir suas habilidades de leitura e escrita com base nos
        padrões educacionais do Simulado ANA. Ao participar, você terá a oportunidade não apenas de testar, mas também aprimorar
        suas habilidades linguísticas, recebendo uma análise abrangente do seu nível de alfabetização. Divirta-se enfrentando
        desafios educacionais que buscam aprofundar sua compreensão da linguagem escrita.
        <br>
        <br>
        Prepare-se para uma jornada educacional e divirta-se enquanto desvenda os desafios propostos para aprimorar o seu domínio
        da linguagem escrita!</p>
    </div>
    <div class="metodologia-card-home2">
      <h1 class="metodologia-title-home2"> O que é Analfabetismo Funcional? </h1>
      <p class="metodologia-description-home2"> O analfabetismo funcional é a incapacidade de utilizar efetivamente as habilidades
        de leitura, escrita e matemática nas atividades cotidianas. Envolve não apenas a falta de habilidades básicas, mas também a
        dificuldade em aplicar essas habilidades de maneira prática em diferentes situações da vida. Isso pode afetar a participação eficaz na sociedade, no trabalho e nas atividades diárias, destacando a importância não apenas de adquirir habilidades básicas, mas também de desenvolver uma compreensão funcional dessas habilidades para enfrentar desafios do mundo real.
        <br>
        <br>
        Ele vai além da simples ausência de habilidades básicas de leitura e escrita. Indica uma limitação na capacidade de aplicar essas habilidades de maneira prática e funcional em diferentes contextos, o que pode impactar significativamente a participação plena e eficaz na sociedade, no trabalho e na vida diária.</p>
    </div>
    <div class="metodologia-card-home3">
      <h1 class="metodologia-title-home3"> Nível de Habilidade </h1>
      <p class="metodologia-description-home3"> O Índice de Analfabetismo Funcional (INAF) categoriza os níveis de habilidade em
        quatro grupos: "Pleno Domínio" indica capacidade total de compreensão e uso de informações em contextos diversos; "Domínio Rudimentar" refere-se a habilidades básicas, com dificuldade em lidar com informações complexas; "Alfa" representa habilidades rudimentares, limitadas a tarefas simples; e "Beta" é a categoria mais baixa, com habilidades muito limitadas, enfrentando desafios até em tarefas elementares.
         Para mais detalhes sobre o INAF, consulte o site oficial em INAF, sendo uma ferramenta crucial para orientar estratégias
         educacionais e políticas.
        <br>
        <br>
        Para mais informações e detalhes sobre o INAF, você pode acessar o site oficial em <a href="https://alfabetismofuncional.org.br/habilidades-e-niveis-de-alfabetismo/"> INAF </a></p>
    </div>
    <div class="metodologia-card-home4">
      <h1 class="metodologia-title-home4"> PodCast de Analfabetismo </h1>
      <p class="metodologia-description-home4"> As letras e palavras se tornaram tão essenciais no cotidiano que parece difícil
        pensar numa realidade sem elas. Mas e as pessoas que não sabem ler e escrever? Ou aquelas que leem mas não entendem o que
        foi lido? Como o Brasil lida com o analfabetismo na sua história? É pensando nessas questões que este episódio traz um papo
        massa sobre analfabetismo com Bianca Nogueira, professora da rede pública, pesquisadora e Doutora em História, e Marília
        Rêgo, jornalista e Doutora em Comunicação. Dá o play!
        <br>
        <br>
        Confira esse Podcast:
        <br>
        <br>
        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/4YyLutXAvB60Sc1hJUnk82?utm_source=generator&theme=0&t=0" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
      </p>
    </div>

    <app-footer></app-footer>
  </div>
</div>

